:root {
  --primary: #2C3E50;
  --secondary: #524242;
  --white: #fff;
  --black: #000;
  --gray: #888;
  --transition: 0.3s ease;
}

body {
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  background: linear-gradient(to bottom, #3498db, #1abc9c);
  /* Gradiente de azul escuro para azul mais claro */
  color: var(--white);
  line-height: 1.5;
  overflow: hidden;
}

.slider_thumb::before {
  position: absolute;
  content: "";
  left: 30%;
  top: 15%;
  bottom: 10%;
  width: 450px;
  height: 450px;
  background: #17141d;
  border-radius: 62% 47% 82% 35% / 45% 45% 80% 66%;
  will-change: border-radius, transform, opacity;
  animation: sliderShape 5s linear infinite;
  display: block;
  z-index: -1;
  -webkit-animation: sliderShape 5s linear infinite;
}

@keyframes sliderShape {

  0%,
  100% {
    border-radius: 42% 58% 70% 30% / 45% 45% 55% 55%;
    transform: translate3d(0, 0, 0) rotateZ(0.01deg);
  }

  34% {
    border-radius: 70% 30% 46% 54% / 30% 29% 71% 70%;
    transform: translate3d(0, 5px, 0) rotateZ(0.01deg);
  }

  50% {
    transform: translate3d(0, 0, 0) rotateZ(0.01deg);
  }

  67% {
    border-radius: 100% 60% 60% 100% / 100% 100% 60% 60%;
    transform: translate3d(0, -3px, 0) rotateZ(0.01deg);
  }
}



/* Quiz Title Section */
.quiz-title-section {
  text-align: center;
  padding: 20px;
  border-radius: 10px;
  background-color: var(--white);
  opacity: 0.8;
  color: var(--black);
  font-weight: 900;
  font-size: 2.5rem;
  line-height: 1.5;
  margin-bottom: 20px;
}

.intro-text {
  text-align: center;
  position: relative;
  font-weight: 400;
  font-size: 1.1rem;
  line-height: 1.0;
}

.result-text {
  text-align: center;
  position: relative;
  font-weight: 400;
  font-size: 1.2rem;
  line-height: 1.1;
}

.container {
  width: 90%;
  height: 82vh;
  overflow: hidden;
  margin: 30px auto;
  padding: 30px;
  justify-content: space-between;
  border-radius: 10px;
  /* Arredondamento do container */
  background: linear-gradient(145deg, #90b8d4, #4883a0);
  /* Gradiente de azul claro para azul mais escuro */
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);
  /* Sombra suave */
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  color: #333;
  opacity: 80%;
  /* Cor do texto dentro do container */
}

h1 {
  font-size: 24px;
  margin-bottom: 20px;
}

p {
  color: #333;
  margin-bottom: 30px;
  font-weight: 400;
  font-size: 1.5rem;
}

.question {
  margin-bottom: 15px;
  border-radius: 50px;
  padding: 10px;
  border-radius: 5px;
  justify-content: space-between;
  color: #333;
  font-weight: 400;
  font-size: 1.3rem;
}

input[type='radio'] {
  accent-color: var(--primary);
  height: 17px;
  width: 18px;
}

/* Adicione margem à direita dos labels dos radio buttons */
label {
  margin-right: 30px;
  /* Faz com que o label ocupe uma linha inteira */
  text-align: center;
  /* Centraliza o texto horizontalmente */
  margin-bottom: 20px;
  /* Adiciona espaçamento entre os radio buttons */
}

.navigation-buttons {
  position: absolute;
  bottom: 70px;
  left: 50%;
  display: flex;
  gap: 50px;
  transform: translateX(-50%);
}

button {
  border: none;
  height: max-content;
  width: max-content;
  border-radius: 10%;
  border: 1px solid rgb(44, 62, 80);
  padding: 10px 20px;
  cursor: pointer;
  transition: background var(--transition);
  font-weight: 400;
  font-size: 0.9rem;
  font-style: oblique;
  background-color: #faf7f7;
  /* Fundo claro */
  color: #2C3E50;
  /* Texto azul escuro */
}

/* Estilos para o botão de reinício */
.reset-button {
  position: relative;
  bottom: -35px;
  /* Ajuste a distância do fundo conforme necessário */
  right: center;
  /* Ajuste a distância da direita conforme necessário */
}



button:hover {
  background-color: #2C3E50;
  /* Azul mais escuro ao passar o mouse */
  color: var(--white);
}

.result-button {
  background: var(--secondary);
  color: var(--white);
  border-radius: 4px;
}

.result-button:hover {
  background-color: #1e7e34;
  /* Verde mais escuro ao passar o mouse */
}

#result {
  margin-top: 20px;
  font-size: 18px;
}

.hidden {
  display: none;
}

.rounded_button {
  height: 100px;
  width: 100px;
  border-radius: 50%;
  border: 5px solid rgb(218, 208, 208);
}

/* Add a media query for screens with a maximum width of 768px (typical for mobile devices) */
@media (max-width: 768px) {
  .quiz-title-section {
    font-size: 2rem;
    /* Decrease the font size of the title */
  }

  .intro-text {
    font-size: 1rem;
  }

  .question {
    display: block; /* Altera para exibição de bloco */
    margin-bottom: 15px;
    border-radius: 50px;
    padding: 10px;
    border-radius: 5px;
    color: #333;
    font-weight: 400;
    font-size: 1.1rem;
  }
  

  .slider_thumb::before {
    left: 7%;
    width: 350px;
    height: 350px;
  }

  p {
    color: #333;
    margin-bottom: 30px;
    font-weight: 400;
    font-size: 1.3rem;
  }

  .container{
    margin: 10px auto;
  }
  .rounded_button {
    height: 80px;
    /* Decrease the button size */
    width: 80px;
    font-size: 0.8rem;
    /* Decrease the font size of the button text */
  }
}

@media (min-width: 1367px) {
  .slider_thumb::before {
    left: 35%;
    width: 550px;
    height: 550px;
  }

  .container {
    height: 82vh;
    overflow: hidden;
    margin: 20px auto;
    padding: 30px;
    border-radius: 10px;
    /* Arredondamento do container */
    background: linear-gradient(145deg, #90b8d4, #4883a0);
    /* Gradiente de azul claro para azul mais escuro */
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);
    /* Sombra suave */
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    color: #333;
    opacity: 80%;
    /* Cor do texto dentro do container */
  }
  .question {
    padding: 20px; 
  }
  
  button {
    padding: 20px 30px;
  }
}