:root {
  --primary: #5d7288;
  --secondary: #5d7288;
  --white: #fff;
  --black: #000;
  --gray: #888;
  --transition: 0.3s ease;
}

body {
  font-family: 'Montserrat', sans-serif;
  background-color: var(--white);
  color: var(--white);
}

/* Quiz Title Section */
.quiz-title-section {
  text-align: center;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  background-color: var(--black);
  opacity: 0.8;
  color: var(--white);
  margin-bottom: 20px;
}

.container {
  max-width: 900px;
  margin: 50px auto;
  padding: 40px;
  border-radius: 10px;
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.1);
  background: linear-gradient(to right, var(--primary), #283e51);
}

h1 {
  font-size: 24px;
  margin-bottom: 20px;
}

p {
  font-size: 16px;
  margin-bottom: 20px;
}

.question {
  margin-bottom: 15px;
}

.navigation-buttons {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

button {
  border: none;
  border-radius: 4px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  transition: background var(--transition);
}

button:hover {
  background-color: #0056b3; /* Azul mais escuro ao passar o mouse */
}

.result-button {
background: var(--secondary);
  color: var(--white);
  border-radius: 4px;
}

.result-button:hover {
  background-color: #1e7e34; /* Verde mais escuro ao passar o mouse */
}

#result {
  margin-top: 20px;
  font-size: 18px;
}
